@import "src/scss/mixins";

.root {
  display: flex;
  flex-flow: row;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include breakpoint("sm") {
    flex-flow: row;
    flex-wrap: wrap;
  }
}
