@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  margin-top: 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  &.tag {
    color: get-color(paragraph, base);
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px get-color(paragraph, base) solid;
    white-space: nowrap;

    &.selected {
      color: get-color(paragraph, base);
      border-color: get-color(accent, base);
      background-color: get-color(accent, base);
    }

    &.disabled {
      border-color: get-color(paragraph, base);
    }
  }

  &.hashtag {
    color: get-color(accent, base);
    display: inline;
    padding-right: 10px;
  }
}
