@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  padding-top: 60px;

  $width: map-get($wt-containers, sm);

  width: $width;
  min-width: $width;
  max-width: $width;
  margin: 0 auto;

  @include breakpoint("md") {
    $width: map-get($wt-containers, md);

    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("lg") {
    $width: map-get($wt-containers, lg);

    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("xl") {
    $width: map-get($wt-containers, xl);

    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("xxl") {
    $width: map-get($wt-containers, xxl);

    width: $width;
    min-width: $width;
    max-width: $width;
  }
}
