@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;

  @include breakpoint("md") {
    flex-flow: row;
  }

  &__title {
    margin-top: 20px;
  }

  &__video {
    width: 100%;

    @include breakpoint("md") {
      width: 70%;
    }
  }

  &__playlist {
    width: 100%;
    margin-top: 40px;
    max-height: 500px;

    overflow-y: auto;
    border: 2px get-color(background, picked) solid;

    @include breakpoint("md") {
      margin-top: 0;
      margin-left: 30px;
      width: 30%;
    }
  }
}
