@import "src/scss/mixins";

$margin: calc((100vw - 720px) / -2);
$padding-left: calc((100vw - 720px) / 2);
$padding-right: calc(((100vw - 720px) / 2) - 12px);

.root {
  display: flex;
  margin: 0 -20px;
  padding: 0 8px 16px 20px;
  scrollbar-width: none;
  overflow: scroll;

  @include breakpoint("md") {
    margin: 0 $margin;
    padding: 0 $padding-right 16px $padding-left;
  }

  @include breakpoint("lg") {
    flex-wrap: wrap;
    margin-left: 48px;
    padding: 0 0 12px 0;
    overflow: inherit;
  }

  li {
    margin-right: 12px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
