@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  background-color: get-color(background, base);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  padding: 20px 0 20px 10px;
  // border: 2px solid green;
  transition: all $wt-transition-time ease-in-out;

  &.active {
    background-color: get-color(background, picked);
    transition: all $wt-transition-time ease-in-out;
  }

  &__title {
    cursor: pointer;
  }

  &__button {
    padding: 2px;
    transform: scale(0.8);
  }

  &__buttons {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  &__controls {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
  }

  &__video {
    width: 20%;
  }
}
