@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  background-color: get-color(background, picked);
  color: white;
  width: 200px;
  height: 50px;
  transition: all $wt-transition-time ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    margin-left: 10px;
    margin-top: 4px;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
  }

  &:hover {
    background-color: get-color(background, hover);
  }
}
