@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  &__image {
    height: 250px;
    width: 250px;

    @include breakpoint("md") {
      width: 500px;
      height: 500px;
    }
  }
}
