@import "src/scss/mixins.scss";

.root {
  font-family: $wt-font-family;

  &.title1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;

    @include breakpoint("md") {
      font-size: 32px;
      line-height: 32px;
    }

    @include breakpoint("xl") {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &.title2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  &.common1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }

  &.common2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  &.description-card {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;

    @include breakpoint("md") {
      font-size: 22px;
      font-weight: 600;
      line-height: 22px;
    }
  }

  &.logo {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  @each $color, $_ in $wt-colors {
    &.#{$color} {
      color: get-color($color, base);
    }
  }
}
