@import "./reset.scss";
@import "./fonts.scss";
@import "./mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $wt-font-family;
  background-color: get-color(background, base);
}

#__next {
  overflow-x: hidden;
  overflow-y: hidden;
}
