@import "variables";

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "" {
    @content;
  } @else {
    $value: map-get($wt-breakpoints, $breakpoint);

    @if $value != null {
      @media (min-width: $value) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}

@function get-color($name, $state) {
  $color: map-get($wt-colors, $name);

  @if $color != null {
    @return map-get($color, $state);
  }

  @return null;
}
