$wt-font-family: "Gilroy";

$wt-containers: (
  sm: calc(100% - 16px),
  md: calc(100% - 20px),
  lg: calc(100% - 24px),
  xl: calc(100% - 28px),
  xxl: 1320px,
);

$wt-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$wt-colors: (
  paragraph: (
    base: #ffffff,
    info: #aaaaaa,
  ),
  background: (
    base: #181818,
    header: #202020,
    picked: #383838,
    hover: #4c4c4c,
  ),
  accent: (
    base: #ff0000,
  ),
);

$wt-transition-time: 0.2s;
