@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  transition: all $wt-transition-time ease-in-out;
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  // width: 400px;
  width: 100%;
  cursor: pointer;

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &:hover {
    background-color: get-color(background, header);
    transition: all $wt-transition-time ease-in-out;
  }

  @include breakpoint("sm") {
    width: 48%;
  }

  @include breakpoint("xl") {
    width: 31%;
  }
}
