@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  background-color: get-color(background, header);
  height: 60px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__background {
      position: absolute;
      z-index: 10;
      top: 60px;
      left: 0;
      width: 100vw;
      opacity: 0;
      visibility: hidden;
      height: calc(100vh - 60px);
      background-color: get-color(background, base);
      transition: visibility $wt-transition-time ease-in-out,
        opacity $wt-transition-time ease-in-out;

      &.toggled {
        visibility: visible;
        opacity: 0.8;
      }
    }

    & > svg {
      transition: all $wt-transition-time ease;
    }

    &:hover > svg {
      fill: get-color(accent, base);
      transition: all $wt-transition-time ease;
    }

    &__menu {
      $width: 200px;

      z-index: 1000;
      display: flex;
      flex-flow: column;
      position: absolute;
      left: -$width;
      top: 60px;
      opacity: 0;
      visibility: hidden;
      height: 100vh;
      width: $width;
      background-color: get-color(background, header);
      transition: all $wt-transition-time ease;

      &.toggled {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__mock {
    &__notification,
    &__profile {
      cursor: pointer;
      & > svg {
        transition: all $wt-transition-time ease;
      }

      &:hover > svg {
        fill: get-color(accent, base);
        transition: all $wt-transition-time ease;
      }
    }
  }

  &__mock__profile {
    margin-left: 10px;
  }

  &__logo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    &__text {
      margin-left: 10px;
    }
  }
}
