@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  transition: all $wt-transition-time ease;

  &:hover {
    background-color: get-color(background, hover);
  }

  &.current {
    background-color: get-color(background, picked);

    &:hover {
      background-color: get-color(background, hover);
    }
  }

  &__icon {
    margin: 0 15px;
  }
}
